body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.logo {
    width: 127px;
}
.bold {
    font-weight: bolder;
}

.container {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
}

header .container {
    border-bottom: 1px solid #C6C6C6;
}


.profile-info {
    background-color: #ffffff;
    display: flex;
   
    
    padding: 10px 20px; /* Added padding to .profile-info */
}

.img-coven {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.name {
    font-size: 1em;
    margin: 0;
    color: #333;
}

.location {
    font-size: 0.8em;
    color: #888;
}

.img-post {
    width: 100%;
    height: auto;
}

.comments {
    padding: 0px 20px;
    margin: 0;
}

.icon img {
    padding-top: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.likes {
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.caption {
    margin: 8px 0;
    font-size: 0.9em;
    color: #333;
}

/* Style for the icons */
.icon-heart, .icon-comment, .icon-dm {
    width: 24px;
    height: 24px;
}
